<ul class="bmenu">
  <li><%= link_to "TV Calendar", calendar_path %></li>
  <li><%= link_to "Sample CV Site", cv_path %> </li>
</ul>
<div style="position: relative;">
  <p style="position: fixed; bottom: 0; width:100%; text-align: center; font-weight:500; font-size: 25px; ">Curriculum Vitae</p>
</div>