.bod{
	position: fixed;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-size: cover;
	-webkit-filter: blur(5px);
	background-color: rgba(0,0,0,0.7);
	z-index: 1;
	//background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.9)), color-stop(100%,rgba(0,0,0,0.95)));
}

.login{
	position: absolute;
	top: calc(50% - 100px);
	left: calc(50% - 175px);
	width: 350px;
	padding: 10px;
	z-index: 2;
}
input,label {
	font-family: 'Arial';
}
legend {
	font-family: 'Arial';
}
