@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

.bod{
	position: fixed;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-size: cover;
	-webkit-filter: blur(5px);
	background-color: rgba(0,0,0,0.7);
	z-index: 1;
	//background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.9)), color-stop(100%,rgba(0,0,0,0.95)));
}

.login{
	position: absolute;
	top: calc(50% - 105px);
	left: calc(50% - 50px);
	//height: 120px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}
